@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {


    /* --color-*: initial; */
    --color-bg: #030014;
    --color-primary-blue: #0F0D23;
    --color-blue-v1: #181966;
    --color-blue-v2: #0F1167;
    --color-title-gradient-start: #D6C7FF;
    --color-title-gradient-finish: #AB8BFF;
    --color-card-bg: #110F25;

    --color-button-bg: #221F3D;
    --color-button-text:#A8B5DB;


    --font-dm-sans: DM Sans, sans-serif;
    --font-bebas: Bebas Neue, sans-serif;


}

@layer components {
    .headerPurpleGradient {
        @apply bg-gradient-to-r from-title-gradient-start to-title-gradient-finish
    }

    .headerFontStyle {
        @apply font-dm-sans font-bold text-[56px]
    }
}